# IL SEGUENTE ENV E' SOLAMENTE UN ESEMPIO
GOOGLE_API_KEY=inserire-la tua-api-key
HUGGINGFACE_API_KEY=inserire-la tua-api-key
OPENWEATHERMAP_API_KEY=inserire-la tua-api-key
TELEGRAM_TOKEN=inserire-il-tuo-token
PUTER_API_KEY=inserire-il-tuo-token
